.ulN {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 23px;
    list-style: none;
    text-align: center;
}

.logout {
    border-radius: 5px;
}

.navbar {
    background-color: rgb(156, 26, 26);
}

.brand-logo {
    margin-left: 19px;
    font-weight: 800;
}

@media screen and (max-width: 500px) {
    .WelcomeName {
        display: none;
    }
}