.containerr {
    margin-top: 6%;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    display: grid;
    grid-gap: 1.4rem;
    gap: 1.4rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    grid-auto-rows: 210px;
}

.card {
    min-width: 300px;
    max-width: 500px;
    height: 188px;
    background: rgb(235, 241, 241);
    border-radius: 5px;
}

.titleC {
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
    width: 100%;
    font-weight: 700;
    text-align-last: center;
    padding: 3%;
}

.headerC {
    width: 100%;
    display: flex;
}

.bodyC {
    width: 100%;
    display: flex;
}

.track {
    margin: 7px;
    width: 100%;
    display: flex;
}

.card label {
    margin: 5%;
    font-weight: 700;
    padding: 2%;
    font-size: 1rem;
    color: #211f1f;
    opacity: 0.7;
}

.contentcc {
    width: 50%;
}

.contentcf {
    left: 0;
    right: 0;
    width: 100%;
}

.contentcf label {
    margin: 0;
}